<hr>
<center>
  Code licensed under <a href="http://github.com/dahal/colorize/">MIT</a><br>
  Designed and built with all the love in the world by
  <a href="http://github.com/dahal" target="_blank">@Puru</a>
  <a href="http://github.com/dahal/colorize" target="_blank"><img src="images/github.png" class="img-responsive"></a>
</center>
<br>
