<footer>
  <center><strong>
  <div class="row">
    With <i class="fa fa-heart-o text-danger"></i> by <a href="http://github.com/dahal" target="_blank"><i class="fa fa-github"></i>dahal</a>
  </div>
  </center></strong>
</footer>