<hr>
<center>
  Code licensed under <a href="https://github.com/dahal/colorize/blob/master/LICENSE">MIT</a><br>
  Designed and built with all the love in the world by
  <a href="http://github.com/dahal" target="_blank">@Puru</a>
  <a href="https://github.com/colorify/colorify.github.io" target="_blank"><img src="images/github.png" class="img-responsive"></a>
</center>
<br>
