<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="colorize-brand" href="/">Colorize</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right navbar-button">
        <a href="http://github.com/dahal/colorize" target="_blank" class="btn-round btn-md btn-primary-inverse">Fork on Github</a>
      </ul>
    </div>
  </div>
</div>
<br><br><br>