<div class="row">
  <div class="col-xs-8"><center><span class="colorize-brand colorize-logo">Colorize</span></center></div>
  <div class="col-xs-4"><a href="https://github.com/dahal/colorize/fork" class="btn-round btn-danger-inverse fork-button pull-right">For on Github</a></div>
</div>
